
.nav{
    background-color: black;
    border: black;
    display: flex;
    align-items: center;
    border-style: solid;
    height: 80px;
    display: block;  
}

.options{
    margin-top: -35px;
}

.ho,.ab{
    color: white;
    font-weight: 600;
}

.ho{
   margin-right: 30px;
}



