.btn{
    background-color: #189AB4;
    border-color:white;
    border-style: solid;
    color:#D4F1F4;
    border-radius: 10px;
    align-self: flex-end;
}
    
.add{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:10px;
    margin-left:2px;
    border-radius: 5px;
    height: 30px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
}

.add:hover{
    background-color: white;
    color:black;
}

.in{
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 30px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
}

.in::placeholder {
    color:white;
  }

.title{
    color: white;
    font-size: 45px;
    margin-left: 10px;
    
}
.search{
    display: flex;
    justify-content: space-between;
    width: 100%;;
    margin-top: 15px;
    margin-left: 0px;  
}